<!DOCTYPE html>
<html>

<head>

    <title>AI Muzik Sistemi</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

    <div class="login-box">

        <h1>🎵 AI MUSIC</h1>

        <p>Hosgeldin</p>

        <!-- GIRIS FORMU -->
        <form method="POST">

            <input
            type="email"
            name="email"
            placeholder="Email"
            required>

            <input
            type="password"
            name="password"
            placeholder="Sifre"
            required>

            <button type="submit">
                Giris Yap
            </button>

        </form>

        <hr style="margin:25px 0; border:1px solid #333;">

        <p>Hesabin yok mu?</p>

        <!-- KAYIT FORMU -->
        <form action="/register" method="POST">

            <input
            type="email"
            name="email"
            placeholder="Yeni Email"
            required>

            <input
            type="password"
            name="password"
            placeholder="Yeni Sifre"
            required>

            <button type="submit">
                Kayit Ol
            </button>

        </form>

    </div>

</div>

</body>

</html>